{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>자소설 닷컴</title>
  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>

    <!--로그인 됐을 때는 로그아웃만, 로그아웃 됐을 때는 로그인만 보이게 if 문을 사용.--> 
    {% if user.if_authenticated %} <!--로그인 됐으면-->
    
    <a href= "{% url 'logout' %}">
        <button>로그아웃</button>
    </a>

    안녕하세요! {{user}}님! <!--로그아웃 하면 annonymousUser로 바뀜 . user는 이미 정해진 변수 -->

    {% else %} <!--로그인 말고 -->

    <a href= "{% url 'signup' %}">
        <button>회원가입</button>
    </a>

    <a href= "{% url 'login' %}">
        <button>로그인</button>
    </a>

    {% endif %}
    

    

    <div class="make_jss">
        <a href="{% url 'create' %}"> <!-- url에서 create 이름인 경로를 찾아서 간다. -->
        <div class="plus_btn">
            +
        </div>
        </a>
        <p>자기소개서 작성</p>
    </div>
    {% if user.is_authenticated %}
            <a href="{% url 'my_index' %}">
        <button>내 자기소개서만 보기</button>
        </a>
        <a href="{% url 'index' %}">
            <button>모든 자기소개서 보기</button>
        </a>
    {% endif %}
    <br>

    {% for jss in all_jss %}
    <a href="{% url 'detail' jss.id %}">
    <div class="all_jss">
        <p>{{jss.author}}</p> <!-- id 대신 author 로 작성자 식별-->
        <p>{{jss.title}}</p>
        <p>{{jss.content}}</p>
        <p>{{jss.updated_at|date:"Y-m-d"}}</p> <!-- | 하고 어쩌고는 템플릿 필터 -->

    </div>
    </a>

    {% endfor %}
</body>
</html>


